#contacto {
    margin-top: 60px;
}

.contenedor-imagen-fija {
    height: 600px;
    background-image: url(../img/fondo/contacto-pc.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: bottom;
    /* filter: saturate(0); */
}

.contactUs {
    position: relative;
    width: 100%;
    padding: 40px 100px;
    font-family: 'Montserrat', sans-serif;
}

.contactUs .title {
    font-size: 2em;
    text-align: left;
}
.contactUs .title h3 {
    color: black;
    font-weight: 500;
}

.box {
    position: relative;
}
.form {
    grid-area: form;
}
.infoDos {
    grid-area: info;
}
.map {
    grid-area: map;
}
.contact {
    padding: 40px;
    background: white;
    box-shadow: 0 5px 35px rgb(0,0,0,0.15);
    border-radius: 10px;
}
.box {
    position: relative;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 5fr 4fr;
    grid-template-areas: 
    "form info"
    "form map";
    grid-gap: 20px;
    margin-top: 20px;
}

.contact .title-enviar-mensaje {
    color: black;
    font-weight: 500;
    font-size: 1.4em;
    top: 10px;
    padding-top: 5px;
    position: absolute;
}

/* form */

.formBox {
    position: relative;
    width: 100%;
    padding: 20px 0;
}
.formBox .row50 {
    display: flex;
    gap: 25px;
}
.inputBox {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 50%;
}
.formBox .row100 .inputBox {
    width: 100%;
}
.inputBox span {
    color: #FF931E;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: 700;
}
.inputBox input {
    padding: 10px;
    font-size: 1.1em;
    outline: none;
    border: 1px solid #333;
}
.inputBox textarea {
    padding: 10px;
    font-size: 1.1em;
    outline: none;
    border: 1px solid #333;
    resize: none;
    min-height: 220px;
    margin-bottom: 10px;
}
.inputBox input[type="submit"] {
    background: #FF931E;
    color: white;
    font-size: 1.1em;
    max-width: 120px;
    font-weight: 500;
    cursor: pointer;
    padding: 10px 10px;
    border-radius: 10px;
    border: none;
}
.inputBox input[type="submit"] {
    background: #FF931E;
    color: white;
    font-size: 1.1em;
    max-width: 120px;
    font-weight: 500;
    cursor: pointer;
    padding: 10px 10px;
    border-radius: 10px;
    border: none;
    transition: all .2s ease-in-out 0s;
    text-transform: uppercase;
}
.inputBox input[type="submit"]:hover {
    background: #E60781;
}
.inputBox::placeholder {
    color: #999;
}

/* info */

.infoDos {
    background: #1AB2C2;
    padding: 55px 40px;
    position: relative;
}
.infoDos::before {
    content: "";
    position: absolute;
    background: black;
    border-radius: 10px 10px 0 0;
    width: 100%;
    height: 30px;
    top: 0;
    left: 0;
}
.infoDos::after {
    content: "";
    background: rgb(255, 208, 0);
    border-radius: 50%;
    width: 13px;
    height: 13px;
    position: absolute;
    top: 10px;
    left: 35px;
}
.infoDos h4::before {
    content: "";
    background: white;
    border-radius: 50%;
    width: 13px;
    height: 13px;
    position: absolute;
    top: 10px;
    left: 55px;
}
.infoDos h4::after {
    content: "";
    background: rgb(230, 7, 129);
    border-radius: 50%;
    width: 13px;
    height: 13px;
    position: absolute;
    top: 10px;
    left: 15px;
}
.infoDos .infoBox .title-contacto-info {
    color: white;
    font-weight: 500;
    font-size: 1.4em;
}
.infoDos .infoBox div {
    display: flex;
    align-items: center;
    
    margin-top: 25px;
}
.infoDos .infoBox div span {
    min-width: 40px;
    height: 40px;
    color: white;
    background: #FF931E;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    border-radius: 50%;
    margin-right: 15px;
}
.infoDos .infoBox div p {
    color: white;
    font-size: 1.1em;
    transition: all .3s ease-in-out 0s;
}
.infoDos .infoBox div a {
    color: white;
    font-size: 1.1em;
    transition: all .3s ease-in-out 0s;
}
.infoDos .infoBox div a:hover {
    font-weight: bold;
}
.infoDos .infoBox div p:hover {
    font-weight: bold;
}
.sci {
    margin-top: 40px;
    display: flex;
}
.sci li {
    margin-right: 25px;
}
.sci li a {
    color: white;
    font-size: 2em;
    transition: all .3s ease-in-out 0s;
}
.sci li a:hover {
    color: #FF931E;
}

.map {
    padding: 0;
}
.map iframe {
    width: 100%;
    height: 100%;
}

/* Responsive Design */

@media (max-width: 1060px) {
    .contactUs {
        padding: 20px;
    }
    .box {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
        "form"
        "info"
        "map";
    }
    .map {
        min-height: 300px;
    }
    .formBox .row50 {
        display: flex;
        gap: 0;
        flex-direction: column;
    }
    .inputBox {
        width: 100%;
    }
    .contactUs .title {
        font-size: 2em;
        text-align: center;
    }
}

@media only screen and (min-width: 200px) and (max-width: 636px) {
    #footer .contenedor-footer .menuDos {
        display: flex;
        flex-direction: row;
    }
    #footer .contenedor-footer .menuDos li a {
        font-size: 0.6em;
    }
    #footer .copyright p {
        font-size: 0.6em;
    }
    .box .form {
        text-align: center;
    }
    .contact .title-enviar-mensaje {
        font-size: 1em;
        top: 10px;
        right: 4px;
        padding-top: 5px;
        position: absolute;
        width: 100%;
    }
    .box .form .formBox .inputBox {
        text-align: left;
    }
    .contactUs .title {
        font-size: 2em;
        text-align: center;
    }
    #contacto .contactUs {
        position: relative;
        width: 100%;
        padding: 40px 0px;
        font-family: 'Montserrat', sans-serif;
    }
    .contenedor-imagen-fija {
        background-image: url(../img/fondo/contacto-celular.jpg); /* Cambia esta ruta por la de tu imagen para dispositivos móviles */
         /* Opcional: Puedes cambiar la propiedad de attachment si no quieres que se fije en dispositivos móviles */
    }
}

@media only screen and (min-width: 637px) and (max-width: 970px) {
    .contenedor-imagen-fija {
        background-image: url(../img/fondo/contacto-tablet.jpg); /* Cambia esta ruta por la de tu imagen para dispositivos móviles */
        /* Opcional: Puedes cambiar la propiedad de attachment si no quieres que se fije en dispositivos móviles */
    }
}