header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

.contenedor-padre {
    border: 3px solid black;
    background: white;
    margin: 5px 10px;
    padding: 5px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    position: relative;
}

.menu {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 0;
    margin: 0;
}

.menu li a {
    color: black;
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.6rem;
}

.logo {
    height: 45px;
}

.fa-quote-right {
   color: rgb(230, 7, 130);
}
.fa-quote-left {
    color: rgb(103, 120, 255);
}

/* Titulo */

.contenedor-titulo {
    flex: 0 1 auto; /* Permite que el contenedor del título ocupe solo el espacio necesario */
    text-align: center;
    padding-left: 20px;
}

#titulo {
    font-family: "Comfortaa", sans-serif;
    font-weight: 400;
    font-size: 2rem;
    white-space: nowrap;
}

.blinking-cursor {
    display: inline-block;
    width: 7px; /* Ancho de la barra vertical */
    height: 25px; /* Altura de la barra vertical */
    background-color: #000; /* Color de la barra vertical */
    animation: blink-caret 0.75s infinite; /* Animación para el parpadeo */
    margin-left: 4px; /* Espacio entre el texto y la barra vertical */
}

@keyframes blink-caret {
    0%, 100% {
        opacity: 0; /* Invisible al inicio y al final */
    }
    50% {
        opacity: 1; /* Visible en el medio de la animación */
    }
}

.contenedor-padre::before {
    content: "";
    background-color: black;
    width: 8px;
    height: 8px;
    position: absolute;
    top: -5px;
    left: -6px;
}

.contenedor-padre::after {
    content: "";
    background-color: black;
    width: 8px;
    height: 8px;
    position: absolute;
    top: -5px;
    right: -6px;
}

.contenedor-logo::before {
    content: "";
    background-color: black;
    width: 8px;
    height: 8px;
    position: absolute;
    bottom: -5px;
    right: -6px;
}

.contenedor-logo::after {
    content: "";
    background: black;
    width: 8px;
    height: 8px;
    position: absolute;
    bottom: -5px;
    left: -6px;
}

.comillas-violeta, .comillas-rosa {
    width: 30px;
    padding-bottom: 15px;
}

/* BTN HAMBURGUESA */

.abrir-menu, .cerrar-menu {
    display: none;
}

/* LOGO NAV */

.logo-nav {
    display: none;
}









