@media only screen and (min-width: 970px) and (max-width: 1230px) {

    .contenedor-titulo {
        padding-left: 7%;
    }

    /* TITULO */

    #titulo {
        font-size: 1.5rem;
        white-space: nowrap;
        padding-left: 20px;
    }

    /* LOGO */

    .logo {
        height: 30px;
    }

    /* NAV */

    .menu li a {
        font-size: 0.49rem;
    }

    /* COMILLAS */

    .comillas-violeta, .comillas-rosa {
        width: 20px;
        padding-bottom: 15px;
    }

    /* CARO PERFIL */

    .caro_perfil { 
        height: 20rem;
        width: 18rem;
     }

     .caro_blanco {
        height: 20rem;
        width: 18rem;

        top: -15px;
        right: 20px;
     }

     .caro_magenta {
        height: 16.5rem;
        width: 15rem;

        top: 25px;
        right: 20px;

     }

         /* CARO DESCRIPCION */

         .c_nombre {
            font-size: 1em;
         }
    
         .caro_nombre {
            top: 0;
            right: 49%;
         }

        .c_frase {
            font-size: 0.7em
        }
    
        .caro_frase {
            top: 40%;
            right: 80%;

        }

        .c_profesion {
            font-size: 0.7em;
        }
    
        .caro_profesion {
            top: 60%;
            right: 22%;
        }

     /* ISAAC PERFIL */

    .isaac_perfil { 
        height: 20rem;
        width: 18rem; 
    }

    .isaac_blanco {
        height: 20rem;
        width: 18rem;

        top: -15px;
        right: -10px;
     }

     .isaac_magenta {
        height: 16.5rem;
        width: 15rem;

        top: 25px;
        right: 20px;

     }

          /* ISAAC DESCRIPCION */

         .i_nombre {
            font-size: 1em
         }
    
         .isaac_nombre {
            top: 0;
            left: 104%;
         }

        .i_frase {
            font-size: 0.7em;
        }
    
        .isaac_frase {
            top: 40%;
            right: -45%;
        }

        .i_profesion {
            font-size: 0.7em;
        }
    
        .isaac_profesion {
            top: 60%;
            right: -77%;
        }

        /* INFORMACION */

    .contenedor_info { 
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 40px;
    }

    /* PORCENTAJE */

    .icon-ochenta-icon {
        display: flex;
        gap: 50px;
    }

    h6 {
        font-size: 24px;
    }

    .info_porcentaje {
        display: flex;
        gap: 5px;
    }

    .info_grafico80 {
        height: 40px;
        width: 200px;
    }

    .info_grafico80::before {
        height: 40px;
        width: 1%;
    }

    /* INFO TEXTO */

    .info_texto p {
        font-size: 1.1rem;
        line-height: 1.5;
    }

    .fa-person, .fa-person-dress{
        font-size: 20px;
    }

    /* WHATSAPP */

    .img_wasap {
        width: 40px;
    }

    /* Cursor parpadeante */

    .blinking-cursor {
        width: 5px; /* Ancho de la barra vertical */
        height: 18px; /* Altura de la barra vertical */
    }

}


                    /* TABLET - CELULAR */

@media only screen and (min-width: 637px) and (max-width: 970px) {

    .parent {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        column-gap: 30%;
        padding-top: 10px;
        }

        /* CONTENEDORES CARO-ISAAC */

        .contenedor-caro {
            margin-bottom: 50px;
        }
        .contenedor-isaac {
            margin-bottom: 15px;
        }

        /* INFORMACION */

    .contenedor_info { 
        padding-top: 0px;
    }

        /* TITULO */

    #titulo {
        font-size: 1.3rem;
        white-space: nowrap;
        padding-left: 40px;
    }

    /* LOGO */

    .logo {
        height: 20px;
    }

    /* NAV */

    .menu li a {
        font-size: 0.40rem;
    }


    /* COMILLAS */

    .comillas-violeta, .comillas-rosa {
        width: 15px;
        padding-bottom: 10px;
    }

    /* CARO PERFIL */

    .caro_perfil { 
        height: 20rem;
        width: 18rem;
     }

     .caro_blanco {
        height: 20rem;
        width: 18rem;

        top: -15px;
        right: 20px;
     }

     .caro_magenta {
        height: 16.5rem;
        width: 15rem;

        top: 25px;
        right: 20px;
     }

         /* CARO DESCRIPCION */

         .c_nombre {
            font-size: 1em;
         }
    
         .caro_nombre {
            top: 0;
            right: 49%;
         }

        .c_frase {
            font-size: 0.7em
        }
    
        .caro_frase {
            top: 40%;
            right: 80%;
        }

        .c_profesion {
            font-size: 0.7em;
        }
    
        .caro_profesion {
            top: 60%;
            right: 22%;

            padding: 5px 25px;
        }

     /* ISAAC PERFIL */

    .isaac_perfil { 
        height: 20rem;
        width: 18rem; 
    }

    .isaac_blanco {
        height: 20rem;
        width: 18rem;

        top: -15px;
        right: -10px;
     }

     .isaac_magenta {
        height: 16.5rem;
        width: 15rem;

        top: 25px;
        right: 20px;
     }

          /* ISAAC DESCRIPCION */

         .i_nombre {
            font-size: 1em
         }
    
         .isaac_nombre {
            top: 0;
            left: 104%;
         }

        .i_frase {
            font-size: 0.7em;
        }
    
        .isaac_frase {
            top: 40%;
            right: -45%;
        }

        .i_profesion {
            font-size: 0.7em;
        }
    
        .isaac_profesion {
            top: 60%;
            right: -77%;

            padding: 5px 25px;
        }

        /* INFORMACION */

    .contenedor_info { 
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 40px;
    }

    /* PORCENTAJE */

    .icon-ochenta-icon {
        display: flex;
        gap: 50px;
    }

    h6 {
        font-size: 20px;
    }

    .info_porcentaje {
        display: flex;
        gap: 5px;
    }

    .info_grafico80 {
        height: 30px;
        width: 200px;
    }

    .info_grafico80::before {
        height: 30px;
        width: 1%;
    }

    /* INFO TEXTO */

    .info_texto p {
        font-size: 1.1rem;
        line-height: 1.5;
    }

    .info_texto2 p {
        font-size: 0.9rem;
        line-height: 1.5;
    }

    .fa-person, .fa-person-dress{
        font-size: 20px;
    }

    /* WHATSAPP */

    .img_wasap {
        width: 40px;
    }

    /* Cursor parpadeante */

    .blinking-cursor {
        width: 3px; /* Ancho de la barra vertical */
        height: 12px; /* Altura de la barra vertical */
    }

    /* Poyecto Cards */

    .cards {
        display: flex;
        flex-direction: column;
        max-width: 800px;
        width: calc(100% - 100px);
        height: 450px;
    }
    
    .cards .card {
        position: relative;
        min-height: 40px;
        background: var(--bg);
        overflow: hidden;
        margin: 5px;
        /* background-repeat: no-repeat; Evita que la imagen de fondo se repita */
        background-size: cover; /* Ajusta la imagen de fondo para cubrir completamente el contenedor */
        background-position: center; /* Centra la imagen de fondo */
        cursor: pointer;
        transition: 0.5s var(--cb);
        border-radius: 30px;
    }
}


      /* CELULAR */
      
      @media only screen and (min-width: 200px) and (max-width: 636px) {

        .contenedor-caricatura-arriba {
            display: flex;
            gap: 0px;
        }
        
        .caricatura-arriba {
            display: block;
            width: 80px;
        }
        main {
            margin-top: 70px;
        }

        .parent {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding-top: 10px;
            }
    
            /* CONTENEDORES CARO-ISAAC */
    
            .contenedor-caro {
                margin-bottom: 50px;
                display: flex;
                justify-content: end;
                width: 100%;
            }

            .contenedor-isaac {
                margin-bottom: 15px;
                display: flex;
                justify-content: start;
                width: 100%;
            }
    
            /* INFORMACION */
    
        .contenedor_info { 
            padding-top: 0px;
        }
    
            /* TITULO */
    
        #titulo {
            font-size: 1rem;
            white-space: nowrap;
        }
    
        /* LOGO */
    
        .logo {
            display: none;
        }

        /* BTN HAMBURGUESA */

        .abrir-menu {
            display: block;
            border: 0;
            font-size: 1.20rem;
            background-color: transparent;
            cursor: pointer;
            padding-right: 10px;
            color: black;
        }

        .cerrar-menu {
            display: block;
            border: 0;
            font-size: 2rem;
            background-color: transparent;
            cursor: pointer;
            margin: 5%;
            color: white;
        }

        /* LOGO NAV */

        .logo-nav {
            display: block;
            width: 8rem;
        }
    
        /* NAV */        
    
        .nav {
            opacity: 0;
            visibility: hidden;
            transform: translateX(100%);
            position: absolute;
            top: -10px;
            right: -15px;
            height: 100vb;
            background: rgb(37, 37, 37);
            box-shadow: 0 0 0 100vmax rgb(0, 0, 0, .5);
            z-index: 999;
            padding: 2rem;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: start;
            gap: 2rem;

            transition: all .4s ease 0s;
        }

        .nav.visible {
            opacity: 1;
            visibility: visible;
            transform: translateX(0);
        }

        .menu {
            flex-direction: column;
            gap: 1.5rem;
        }

        .menu li a {
            font-size: 0.8rem;
            color: white;
        }
    
    
        /* COMILLAS */
    
        .comillas-violeta, .comillas-rosa {
            width: 15px;
            padding-bottom: 10px;
        }
    
        /* CARO PERFIL */
    
        .caro_perfil { 
            height: 18rem;
            width: 16rem;
         }
    
         .caro_blanco {
            height: 18rem;
            width: 16rem;
    
            top: -15px;
            right: 20px;
         }
    
         .caro_magenta {
            height: 14.5rem;
            width: 13rem;
    
            top: 23px;
            right: 20px;
         }
    
             /* CARO DESCRIPCION */
    
             .c_nombre {
                font-size: 0.7em;
             }
        
             .caro_nombre {
                top: 0;
                right: 42%;   
             }
    
            .c_frase {
                font-size: 0.6em;
                padding: 10px;
            }
        
            .caro_frase {
                top: 35%;
                right: 70%;

                padding: 10px;
            }
    
            .c_profesion {
                font-size: 0.6em;
            }
        
            .caro_profesion {
                top: 50%;
                right: 20%;

                padding: 8px 25px;
            }
    
         /* ISAAC PERFIL */
    
        .isaac_perfil { 
            height: 18rem;
            width: 16rem; 
        }
    
        .isaac_blanco {
            height: 18rem;
            width: 16rem;
    
            top: -15px;
            right: -10px;
         }
    
         .isaac_magenta {
            height: 14.5rem;
            width: 13rem;
    
            top: 23px;
            right: 20px;
         }
    
              /* ISAAC DESCRIPCION */
    
             .i_nombre {
                font-size: 0.7em
             }
        
             .isaac_nombre {
                top: 0px;
                left: 104%;
             }
    
            .i_frase {
                font-size: 0.6em;
                padding: 10px;
            }
        
            .isaac_frase {
                top: 36%;
                right: -46%;

                padding: 10px;
            }
    
            .i_profesion {
                font-size: 0.6em;
            }
        
            .isaac_profesion {
                top: 50%;
                right: -69%;
                padding: 8px 25px;
            }
    
            /* INFORMACION */
    
        .contenedor_info { 
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding-top: 28px;
        }
    
        /* PORCENTAJE */
    
        .icon-ochenta-icon {
            display: flex;
            gap: 50px;
        }
    
        h6 {
            font-size: 20px;
        }
    
        .info_porcentaje {
            display: flex;
            gap: 5px;
        }
    
        .info_grafico80 {
            height: 30px;
            width: 200px;
        }
    
        .info_grafico80::before {
            height: 30px;
            width: 1%;
        }
    
        /* INFO TEXTO */
    
        .info_texto p {
            font-size: 1.1rem;
            line-height: 1.5;
        }
    
        .fa-person, .fa-person-dress{
            font-size: 20px;
        }
    
        /* WHATSAPP */
    
        .img_wasap {
            width: 32px;
        }
    
        /* Cursor parpadeante */
    
        .blinking-cursor {
            width: 3px; /* Ancho de la barra vertical */
            height: 12px; /* Altura de la barra vertical */
        }

        /* Poyecto Cards */

        .cards {
            display: flex;
            flex-direction: column;
            max-width: 100%;
            width: calc(100% - 5%);
            height: 500px;
        }
        
        .cards .card {
            position: relative;
            min-height: 40px;
            background: var(--bg);
            overflow: hidden;
            margin: 5px;
            /* background-repeat: no-repeat; Evita que la imagen de fondo se repita */
            background-size: cover; /* Ajusta la imagen de fondo para cubrir completamente el contenedor */
            background-position: center; /* Centra la imagen de fondo */
            cursor: pointer;
            transition: 0.5s var(--cb);
            border-radius: 30px;
        }

        .cards .card .info .title-parrafo {
            font-weight: bold;
            font-size: 0.7rem;
        }

        /* Proyectos */

        #proyectos {
            flex-direction: column-reverse;
        }

        .caricatura-abajo {
            display: none;
        }

        /* BOTON WASAP */

    .btn-wsp {
        position: fixed;
        bottom: 20px;
        right: 10px;
}

.packs {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.pack {
    background-color: #fdfdfd;
    border: 3px solid black;
    border-radius: 10px;
    padding: 2rem;
    max-width: 100%;
    text-align: center;
    /* box-shadow: offset-x offset-y blur-radius spread-radius color; */
}

.section-title .after-title {
    font-size: 1.2rem;
}

.propuestas-body .container .packs .pack h3 {
    font-size: 1.3rem;
}

.propuestas-body .container .important {
    padding-bottom: 50px;
}

.propuestas-body .container .section-title {
    margin-top: 60px;
}

}

      
