.propuestas-body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.section-title {
    border: 2px solid black;
    background-color: rgb(255, 208, 0);
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 20px;
    position: relative;
}
.section-title::before {
    content: "";
    background-color: black;
    width: 8px;
    height: 8px;
    position: absolute;
    bottom: -4px;
    right: -5px;
 }
 .section-title::after {
    content: "";
    background: black;
    width: 8px;
    height: 8px;
    position: absolute;
    bottom: -4px;
    left: -5px;
}
.after-title::before {
    content: "";
    background: black;
    width: 8px;
    height: 8px;
    position: absolute;
    top: -4px;
    left: -5px;
}
.after-title::after {
    content: "";
    background: black;
    width: 8px;
    height: 8px;
    position: absolute;
    top: -4px;
    right: -5px;
}

.section-title h2 {
    margin: 0;
    color: #333;
    font-size: 2rem;
}

.packs {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 40px;
}

.pack {
    background-color: #fdfdfd;
    border: 3px solid black;
    border-radius: 10px;
    padding: 2rem;
    width: calc(33% - 40px);
    box-sizing: border-box;
    text-align: center;
    /* box-shadow: offset-x offset-y blur-radius spread-radius color; */
}

.sombra-celeste {
    box-shadow: 6px 6px 1px 1px #1BB6C7;
}
.sombra-rosa {
    box-shadow: -6px 6px 1px 1px #E60781;
}
.sombra-naranja {
    box-shadow: 0px 4px 1px 4px #FF931E;
}

.pack h3 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 10px;
}

.pack ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: left;
    margin-bottom: 20px;
}

.pack ul li {
    margin: 5px 0;
    font-size: 1rem;
    list-style-type: disc;
}

.pack ul .circle {
    list-style-type:circle;
}

.price {
    font-size: 24px;
    color: #ff4444;
    font-weight: bold;
}

.important {
    background-color: black;
    padding: 30px 10px 10px 10px;
    border-radius: 10px;
    margin-top: 20px;
    text-align: center;
    color: black;
    font-weight: bold;
    line-height: 1.5;
    border-radius: 20px;
    box-shadow: 10px 10px 3px 1px rgba(0, 0, 0, 0.155);
    position: relative;
}
.important::before {
    content: "";
    background: rgb(230, 7, 129);
    border-radius: 50%;
    width: 13px;
    height: 13px;
    position: absolute;
    top: 10px;
    left: 15px;
}
.important::after {
    content: "";
    background: rgb(255, 208, 0);
    border-radius: 50%;
    width: 13px;
    height: 13px;
    position: absolute;
    top: 10px;
    left: 35px;
}
.important h3::before {
    content: "";
    background: white;
    border-radius: 50%;
    width: 13px;
    height: 13px;
    position: absolute;
    top: 10px;
    left: 55px;
}

.important h3 {
    margin: 0;
    font-size: 22px;
    color: #cc0000;
    background: white;
}

.important p {
    margin: 0;
    font-size: 16px;
    background-color: white;
    border-radius: 0 0 20px 20px;
}