.propuestas-body {
    font-family: "Montserrat", sans-serif;
    padding: 1% 2%;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.section-title {
    display: flex;
    justify-content: center;
    border: 2px solid black;
    background-color: rgb(255, 208, 0);
    border-radius: 5px;
    text-align: center;
    position: relative;
    margin: 5% 0 2% 0;
}
.section-title::before {
    content: "";
    background-color: black;
    width: 8px;
    height: 8px;
    position: absolute;
    bottom: -4px;
    right: -5px;
 }
 .section-title::after {
    content: "";
    background: black;
    width: 8px;
    height: 8px;
    position: absolute;
    bottom: -4px;
    left: -5px;
}
.after-title::before {
    content: "";
    background: black;
    width: 8px;
    height: 8px;
    position: absolute;
    top: -4px;
    left: -5px;
}
.after-title::after {
    content: "";
    background: black;
    width: 8px;
    height: 8px;
    position: absolute;
    top: -4px;
    right: -5px;
}

/* .after-title {
    min-width: 593px;
    max-width: 593px;
} */

.section-title h2 {
    margin: 0;
    font-size: 2rem;
    padding: 2px 20px;
}

.packs {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 50px;
}

.pack {
    background-color: #fdfdfd;
    border: 3px solid black;
    border-radius: 10px;
    padding: 2rem;
    max-width: 100%;
    text-align: center;
    /* box-shadow: offset-x offset-y blur-radius spread-radius color; */
}

.sombra-celeste {
    box-shadow: 6px 6px 1px 1px #1BB6C7;
}
.sombra-rosa {
    box-shadow: -6px 6px 1px 1px #E60781;
}
.sombra-naranja {
    box-shadow: 0px 4px 1px 4px #FF931E;
}

.pack h3 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.pack ul {
    padding: 0;
    margin: 0;
    text-align: left;
}

.pack ul li {
    margin: 5px 0;
    font-size: 1rem;
    list-style-type: disc;
}

.pack ul .circle {
    list-style-type:circle;
}

.important {
    background-color: black;
    padding: 30px 10px 10px 10px;
    border-radius: 10px;
    margin-top: 20px;
    text-align: center;
    color: black;
    font-weight: bold;
    line-height: 1.5;
    border-radius: 20px;
    box-shadow: 10px 10px 3px 1px rgba(0, 0, 0, 0.155);
    position: relative;
    margin: 5% 5% 2% 5%;
    width: 90%;
}
.important::before {
    content: "";
    background: rgb(230, 7, 129);
    border-radius: 50%;
    width: 13px;
    height: 13px;
    position: absolute;
    top: 10px;
    left: 15px;
}
.important::after {
    content: "";
    background: rgb(255, 208, 0);
    border-radius: 50%;
    width: 13px;
    height: 13px;
    position: absolute;
    top: 10px;
    left: 35px;
}
.important h3::before {
    content: "";
    background: white;
    border-radius: 50%;
    width: 13px;
    height: 13px;
    position: absolute;
    top: 10px;
    left: 55px;
}

.important h3 {
    margin: 0;
    font-size: 22px;
    color: #cc0000;
    background: white;
}

.important p {
    margin: 0;
    font-size: 16px;
    background-color: white;
    border-radius: 0 0 20px 20px;
}