:root {
    --cb: cubic-bezier(.05, .61, .41, .95);
}

#proyectos {
    margin-top: 70px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    overflow: hidden;
    font-family: "Roboto", sans-serif;
    transition: 0.25s;
    /* background: #e1e1e1; */
    padding: 20px 0;
}

/* #proyectos.dark {
    background: #333;
    color: white;
} */

.cards {
    display: flex;
    /* max-width: 100%; */

    width: calc(100%);
    height: 500px;
}

.cards .card .info .title {
    font-weight: bold;
    font-size: 1.2rem;
}

.cards .card .label .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 40px;
    height: 40px;
    background-color: white;
    color: var(--color);
    border-radius: 50%;
}

.cards .card .label .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
    white-space: pre;
    transition: 1s var(--cb);
}

.cards .card {
    position: relative;
    min-width: 60px;
    background: var(--bg);
    overflow: hidden;
    margin: 5px;
    background-size: cover; /* Ajusta la imagen de fondo para cubrir completamente el contenedor */
    background-position: center; /* Centra la imagen de fondo */
    background-repeat: no-repeat;
    cursor: pointer;
    transition: flex 0.5s var(--cb);
    border-radius: 30px;
}

.cards .card .label {
    display: flex;
    position: absolute;
    right: 0;
    height: 30px;
    transition: 0.5s var(--cb);
}

.cards .card.active .label {
    bottom: 20px;
    left: 20px;
}

.cards .card.active {
    flex-grow: 10000;
    background-size: cover;
    background-repeat: no-repeat; /* Evita que la imagen de fondo se repita */
    background-position: center; /* Centra la imagen de fondo */
}

.cards .card:not(.active) .label {
    bottom: 10px;
    left: 10px;
}

.cards .card .shadow {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100px;
    background: linear-gradient(
        0, #0004, transparent
    );
}

.cards .card:not(.active) .info {
    opacity: 0;
}

/* Titulo */

.contenedor-titulo-proyectos {
    display: grid;
    grid-template-rows: 1fr 1fr;
    height: 100%;
    align-items: end;
}

.contenedor-titulo {
    justify-content: center;
}

.contenedor-caricatura {
    margin: 0 auto;
}

.titulo-proyectos {
    color: black;
    font-family: "Comfortaa", sans-serif;
    font-size: 1.7rem;
}

.caricatura-arriba {
    position: absolute;
    top: -62px;
}

.caricatura-abajo {
    width: 100px;
    margin: 0 20px;
}

.info_texto2 p, .info_texto2 span {
    font-family: "Comfortaa", sans-serif;
    font-size: 1.3;
}

.comillas-violeta2, .comillas-rosa2 {
    width: 18px;
}



