:root {
    --cb: cubic-bezier(.05, .61, .41, .95);
}

#proyectos {
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    font-family: "Roboto", sans-serif;
    transition: 0.25s;
    background: #e1e1e1;
}

#proyectos.dark {
    background: #333;
    color: white;
}

.cards {
    display: flex;
    max-width: 800px;
    width: calc(100% - 100px);
    height: 600px;
}

.cards .card .info .title {
    font-weight: bold;
    font-size: 1.2rem;
}

.cards .card .label .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 40px;
    height: 40px;
    background-color: white;
    color: var(--color);
    border-radius: 50%;
}

.cards .card .label .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
    white-space: pre;
    transition: 1s var(--cb);
}

.cards .card {
    position: relative;
    min-width: 60px;
    background: var(--bg);
    overflow: hidden;
    margin: 5px;
    background-size: cover; /* Ajusta la imagen de fondo para cubrir completamente el contenedor */
    background-position: center; /* Centra la imagen de fondo */
    cursor: pointer;
    transition: 0.5s var(--cb);
    border-radius: 30px;
}

.cards .card .label {
    display: flex;
    position: absolute;
    right: 0;
    height: 30px;
    transition: 0.5s var(--cb);
}

.cards .card.active .label {
    bottom: 20px;
    left: 20px;
}

.cards .card.active {
    flex-grow: 10000;
    background-size: cover;
    background-repeat: no-repeat; /* Evita que la imagen de fondo se repita */
}

.cards .card:not(.active) .label {
    bottom: 10px;
    left: 10px;
}

.cards .card .shadow {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100px;
    background: linear-gradient(
        0, #0004, transparent
    );
}

.cards .card:not(.active) .info {
    opacity: 0;
}

